
h1{
    width:200px;
    height:100px;
    background-color: burlywood;
    text-align:center;
    border-width:10px;
    border-color: blue;
    border-style:dotted;
    border:25px solid pink;
}
#div1{
    height:100px;
    width: 200px;
    background-color: blueviolet;
     border-width: 2px;
    border-radius: 2px;
   border-style: solid;
    border-color: black;
    border-left: 6px;
    padding:25px
    padding-left:45;
}
#div2{height:60px;
    background-color:#0f1111;
    color:white;
     


}
button{
    background-color:#f08804;
    color:white;

}
#logo{
    color: #f08804;
}
a{color:white;
    margin-right:190px;
    text-decoration:none;
}