*{
    margin:0;
    padding:0;
}
#img{
    height:500px;
    background-color: aqua;
    width:700px;
    background-image: url("20250117_152801c.jpg");
    background-size: cover;
    position: fixed;
    right:0px;
    top:0px;


}